#menu {
    /*    float: left;*/
    margin-bottom: 15px;
    height: 15px;
    /*    padding-bottom: 7px;*/
}
#menu > li {
    float: right;
    height: 28px;
}

#menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#menu ul li a {
    width: 80px;
}
#menu li:hover ul.noJS {
    display: block; 
}

.sub-menu{
    position: absolute;
    /*    top: 130px;*/
    margin-right: -10px !important;
    margin-top: 11px;
    background-color: #263450;
    z-index: 100;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.41);
}

.sub-menu li{
    border-bottom: 1px solid #000907;
    height: 20px;
    margin-top: 3px;
    padding: 1px 13px 1px 10px;
    min-width: 175px;
    top: 0 !important;
}

.sub-menu li a{
    text-decoration: none;
}
.sub-menu li a:hover{
    color: #0096ff;
}