@charset "utf-8";
/* CSS Document */

form ul li{
    margin-bottom:10px;	
    float: left;
    width: 100%;
}

form label{
    width: 170px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    float: left;
    padding-right: 8px;
}

.txtbox{
    border: 1px solid #CCC;
    height: 20px;
    width: 250px;
    padding: 2px;
}

textarea{
    border: 1px solid #CCC;
    height: 60px;
    width: 350px;
    padding: 2px;
}

select{
    padding: 1px;
    border: 1px solid #CCC;
    height: 24px;
    width: 250px;
}

.star{
    color: red;
}
.frm_error_msg{
    color: red;
}
.btns{
    margin-left: 170px;
}
.thumb_div{
    /*    background-position: right center;*/
    background-repeat: no-repeat;
    background-size: auto 100% ;
    float: right;
    height: 35px;
    margin-right: 280px;
    width: 100px;
/*    margin-top: -35px;*/
}
.image_order{
    padding-right: 58px;
    text-align: center;
}
table{
    text-align: center;
}

input[type="submit"],input[type="button"]{
    border: 1px solid #C4C4C4;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: #444;
}
span.cke_skin_kama{
    float: left;
}

#question_en-us , #question_ar-eg,#answer_en-us , #answer_ar-eg{
    width:600px;
}
#answer_en-us , #answer_ar-eg{
    height: 100px
}
.faqs{
    float: left;
}
.faqs table td {
    text-align: left;
    padding-bottom: 10px;
    vertical-align: text-top;
}
.question{
    font-weight: bold;
    font-size: 13px;
}
.info{
    float: left;
    padding-right: 6px;
    font-weight: bolder;
}
.info-answer{
    float: left;
    
}
.separator{
    float: left;
    padding-left: 13px;
    padding-right: 13px;
}
.info-answer .order_change{
    margin-top: 0px;
    width: 40%
}
.info-answer .arrows{
    float: left;
    margin-top: -5px;
}
.faq_manage{
    float: right;
}